body {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  background-color: white;
  margin: 0;
  color: #0b2239;
}

* {
  box-sizing: border-box;
}

small {
  font-size: 12px;
}

strong {
  font-size: 16px;
}

b{
  color:#FFA109;
}

.main-hr {
  border-top: 15px dotted #B8CBDF;
  width: 7%;
  margin: 100px auto;
  opacity: 0.2;
  background-color: white;
}

.top-nav {
  background-color: #0b2239;
  height: 50px;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  left: 2.5em;
}

/* Change the color of links on hover */
.top-nav a:hover {
  background-color: #ddd;
  color: #0b2239;
}

.diver-img {
  position: absolute;
  top: 0.75em;
  left: 1em;
}

.cover-text {
  font-size: 2.6em;
  letter-spacing: 0.45em;
  color: white;
  position: relative;
  text-align: left;
  margin: 0;
  padding: 7rem 3rem;
}

.cover {
  background-image: url("images/ocean1.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.88;
  position: relative;
}

.tab {
  margin: 25px auto;
  object-fit: cover;
}

.tab-desc {
  text-align: center;
  margin: auto;
  font-size: 20px;
  line-height: 2;
}

.text {
  width: 65%;
  text-align: center;
  margin: 4.8rem auto 2rem;
  line-height: 2.5;
  font-size: 1.15em;
}

.cover-text-question {
  letter-spacing: 0.2em;
  color:#0b2239 !important;
  font-weight: bold;
}

.middle-div {
  background-color: #0b2239;
  opacity: 0.98;
  color: white;
}

#chart-container{
  margin:80px 0;

  height:500px;
}


.myButton {
  box-shadow: inset 0 0 0 0 #ffffff;
  background: linear-gradient(to bottom, #FACF32 5%, orange 100%);
  border-radius: 24px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.myButton:hover {
  background: linear-gradient(to bottom, orange 2%, #FACF32 100%);
}

.myButton:active {
  position: relative;
  top: 1px;
}

.bottom-container {
  background-color: #B8CBDF;
  padding: 15px 0 15px;
  margin-top: 50px;
}

.copyright {
  color: #FFF;
  font-size: 0.75rem;
  padding: 20px 0;
  text-align: center;
}

.info {
  color: #D90B25;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.forms {
  margin-top: 20px;
}

.forms-hr {
  border-top: 1px dashed #D90B25;
}

#grafic_text {
  text-align: center;
  margin: 80px 0 20px 0;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 26px;
  padding: 0 50px;
}

#grafic_text_small{
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
}

#chart_text{
  text-align: center;
  margin: 80px 0 0 30px;
  letter-spacing: 1px;
  font-size: 22px;
}

#chart_alert_error{
  color: red;
}


#chart_alert_correct{
  color: green;
}

.img_output{
  margin: 0 10px;
}

#img_output1{
  padding-right: 10px;
}

#img_output2{
  padding-left: 10px;
}

.img_sizer{
  /* width:300px;
  height:430px; */
  margin-top: 20px;
}

#box {
  margin: 60px 50px 20px;
  padding: 15px;
  border: 1.5px outset #D90B25;
  border-radius: 40px;
  background-color: #FEFCF8;
}

.form_container form dl {
  margin-bottom: 20px;
}

.form_container form dl small {
  margin-left: 15px;
}

#myChart{
  width: 500px !important;
  height: 380px !important;
}

.form_container form dt {
  float: left;
  width: 300px;
  text-align: left;
  margin-left: 15px;
  font-weight: 700;
}

.dd-input {
  margin-left: 250px;
  padding-left: 10px;
  vertical-align: top;
}

.form_container form dd input:focus {
  background-color: #B8CBDF;
}

.output {
  margin: 20px;
  padding: 20px 5px;
  text-align: center;
}

.small-sac{
color: #D90B25;
margin-left:80px;

}

.error {
  color: red;
}

.result {
  line-height: 150%;
  margin: 30px 15px 10px;
}



#buttons {
  text-align: center;
  margin-top: 40px;
}

#buttons input {
  padding: 2px 5px;
}



@media (max-width: 1100px) {
  #myChart{
    margin-top:50px;
    margin-left: 30px;
    width: 400px !important;
    height: 340px !important;
  }
  #chart-container{
  margin-bottom: 150px;
  }

  .img_sizer{
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 990px) {
  .tab {
    margin: 50px auto;
    width: 70%;
  }

  #tab-text2 {
    order: 2;
  }

  #tab-img2 {
    order: 1;
  }
}
@media (max-width: 750px) {
  .cover-text {
    padding: 5rem 3rem;
    font-size: 1.8em;
  }

  .text {
    width: 90%;
    line-height: 2;
  }

  .calc-item {
    width: 100%;
  }

  .img_sizer{
    object-fit: cover;
    height: 350px;
    width: 250px;
  }


}

@media (max-width: 700px) {
  #myChart{
    margin-top:50px;
    margin-left: 30px;
    width: 400px !important;
    height: 340px !important;
  }
  #chart-container{
  margin-bottom: 150px;
  }

  .form_container form dl small{
    margin-left: 0;
    text-align: center;
  }

  .small-sac{
    margin-left: 0;
  }

  .dd-input{
    text-align: right;
    margin-right: 10px;
  }

  .form_container form dt{
    margin-left: : 0;
  }

}


@media (max-width: 500px) {

  #box {
    margin: 60px 20px 20px;
    padding: 15px;
  }

  .form_container form dt {
    width: 180px;
    margin-left: 5px;
    font-size: 14px;
  }
  .dd-input {
    margin-left: 100px;
    padding-left: 10px;
  }
  .dd-small{
  }

#myChart{
  margin-top:50px;
  width: 380px !important;
  height: 280px !important;
}
}


@media (max-width: 450px) {
  #myChart{
    margin: 50px 0 20px 10px;
    width: 300px !important;
    height: 300px !important;
  }

  .img_sizer{
    width: 130px;
    height: 200px;
  }

  #chart_text{
    text-align: center;
    margin: 80px 0 0 30px;
    letter-spacing: 1px;
    font-size: 18px;
  }

  .small-sac{
    margin-left: 0;
  }

  .dd-input{
    text-align: left;
    margin-left: 10px;
  }

  .form_container form dt{
    margin-left: : 0;
  }

  #box {
    padding: 5px;

  }

}
